<section class="banner mb-4 mt-6">
  <div class="overlay">
    <h2>Bienvenue sur notre application sur l'hépatite en Mauritanie</h2>
  </div>
</section>

<div style="display: flex; justify-content: center">
  <p-panel  class="my-2" [style]="{ width: '90vh' }">
    <p>
      Bienvenue sur notre application de collecte et de visualisation de données
      sur l'hépatite en Mauritanie.
      <br /><br>
      Notre application vise à aider à mieux comprendre la prévalence de cette
      maladie dans différentes régions du pays et à fournir des informations
      utiles.
      <br /><br>
      À l'aide de notre formulaire, vous pouvez facilement contribuer à notre
      base de données en repondant aux questions.
      <br />
      Notre application vous permet également de visualiser les données sous
      forme de graphiques clairs et informatifs pour mieux comprendre la
      situation de l'hépatite en Mauritanie.

      <br /><br />
      Nous espérons que notre application vous sera utile dans votre travail et
      vos recherches sur cette maladie importante.
    </p>
  </p-panel>
</div>
