<div class="card">
  <p-menubar>
    <ng-template pTemplate="start">
      <a
        style="text-decoration: none; display: flex; align-items: center"
        class="ml-5"
        routerLink="/"
      >
        <img
          src="../assets/img/R.jpeg"
          width="60"
          height="60"
          class="d-inline-block align-text-top me-2"
        />
        <span
          class="fs-4 fw-bold text-primary"
          style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif"
          >HépaDataMRT</span
        >
      </a>
    </ng-template>

    <ng-template pTemplate="end">
      <p-button class="mr-5" label="Formulaire" routerLink="/form"></p-button>
      <p-button
        class="mr-5"
        label="Dashboard"
        routerLink="/dashboard"
      ></p-button>
    </ng-template>
  </p-menubar>
</div>
<br />

<router-outlet></router-outlet>
